html {
  overflow-x: hidden;
}

body {
    background: #c3b9a9;
    background-image: url(../images/PaperBackground.jpg);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.coffee {
    background-image: url(../images/torn-paper.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 286px;
    height: 300px;
    margin-left: 100px;
    padding: 0 50px;
    display: block;
}

.paperTop {
    position: absolute;
    width: 690px;
    margin-top: -75px;
}

.clip1 {
    height: 100px;
    width: 100px;
    margin-left: 10%;
}
.clip2 {
    height: 100px;
    width: 100px;
    margin-left: 53%;
}

.paper-bottom {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: 10px 40px 0 40px;
  padding: 0;
}
.paper-bottom-text {
  font-size: 10px;
  font-family: 'roboto';
  display: block;
  padding: 0;
  height: 100%;
}
.paper-bottom-text p {
  padding: 0;
  margin: 5px;
}
.paper-bottom-text:before {
  background-image: url(../images/RLF_Logo_OnlyLion.svg);
  background-repeat: no-repeat;
  background-size: 35px auto;
  content: "";
  width: 45px;
  height: 40px;
  display: block;
  float: left;
  margin: 0 15px;
  border-right: 1px solid #333;
}

.paper {
    position: relative;
    background-color: #e4e4e4;
    width: 690px;
    height: auto;
    margin: 60px auto 0 auto;
    padding-bottom: 40px;
    z-index: -11;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
}

.paperText {
    padding: 0 100px;
}

#paperCenter {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-style: italic;
}

.card-photo {
    max-width: 30%;
    margin-right: 2em;
}

.card01{
    background-image: url(../images/Card01.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 160px;
    margin: 10px 0 0 10px;
    z-index: 10;
    -webkit-box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.5);
    box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.5);
}

.card01stack{
    background-image: url(../images/Card01stack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 211px;
    margin-top: 50px;
    z-index: 10;
}

.card02{
    background-image: url(../images/Card02.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 189px;
    z-index: 10;
}

.card02stack{
    background-image: url(../images/Card02Stack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 211px;
    z-index: 10;
}

.card03{
    background-image: url(../images/Card03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 189px;
    z-index: 10;
}

.card03stack{
    background-image: url(../images/Card03Stack.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 320px;
    height: 211px;
    z-index: 10;
}

.cardstack {
  position: relative;
  display: inline-block;
  background-image: url(../images/Card01.svg);
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 160px;
  margin: 10px 0 0 10px;
  z-index: 10;
  -webkit-box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.5);
  box-shadow: 2px 5px 5px -2px rgba(0,0,0,0.5);
}

.cardstack-content {
  list-style-type: none;
  width: 1500px;

}

.cardstack-content li {
  float: left;
}

.cardstack:focus {
  pointer-events: none;
  outline: none;
}

.cardstack:focus .cardstack-content {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  margin-left: 100px;
}

.cardstack-content {
  position: absolute;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s;
  transition: 0.5s;
}

.phone {
    background-image: url(../images/iPhone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 561px;
    margin-top: 0px;
}

.phone-text{
    padding: 140px 100px 0 50px;
}

.phone-text h4{
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 8px;
    padding-left: 40px;
    text-align: center;
}

.phone-label{
    font-size: 10px;
    text-align: left;
    margin: 0;
    color: #428bca;
}

.phone-details{
    font-size: 12px;
    text-align: left;
    color: #666;
    padding: 0;
}

.seal {
    background-image: url(../images/Seal2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 497px;
    height: 195px;
    margin: 40px -100px 0 20px;
}

.stamp {
    background-image: url(../images/Stamp.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 200px;
    height: 226px;
    margin-top: 0px;
    margin-left: -90px;
    float: left;
}

.legalpad {
    background-image: url(../images/LegalPad.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 413px;
    height: 650px;
    margin-top: 60px;
    margin-left: 20px;
    position: relative;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.padtext {
    padding: 108px 40px 0 50px;
    font-family: 'Gloria Hallelujah', cursive;
    color: #222;
}

.padtext h4 {
    margin-bottom: 0px;
    margin-left: 20px;
}

.padtext ul {
    padding-left: 20px;
    margin-bottom: 17px;
}

.padtext li {
    line-height: 1.43;
    list-style: none;
}
.padtext li:before{ content:"-"; position:relative; left:-5px;}
.padtext li{ text-indent:-5px; }

.modal-open .modal,.btn:focus{
    outline:none!important;
    box-shadow: none!important;
}

#map-canvas {
        height: 300px;
        width: 568px;
        margin: 0px;
        padding: 0px;
}


.container-fluid {
    width: 1600px;
    max-width: none !important;
    margin-left: auto;
    margin-right: auto;
}

.column-margin {
    margin-right: 40px;
    margin-left: 40px;
}

.roboto {
    font-family: 'roboto';
    font-weight: 500;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    }

.flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    }

.left-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    }

@media (max-width: 1470px) {
  .flex-item:nth-child(1) {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .left-container {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card01stack{
    margin-top: 0;
  }
  .legalpad {
    margin-left: auto;
    margin-right: auto;
  }
  .stamp {
    display: none;
  }
  .seal {
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .paper {
    width: 500px;
  }
  .paperText {
    padding: 30px;
  }
  .clip2 {
    margin-left: 25%;
  }
}

@media (max-width: 480px) {
  .paper {
    width: auto;
  }
  .paper-bottom-text:before {
    display: none;
  }
  .paperTop {
    margin-top: -60px;
    width: 480px;
  }
  .clip1 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 15%;
    margin-left: 0;
  }
  .clip2 {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 65%;
    margin-left: 0;
  }
  .padtext {
    padding: 108px 25px 0 38px;
  }
}

@media (max-width: 400px) {
  .clip1 {
    left: 10%;
  }
  .clip2 {
    left: 45%;
  }
}



@charset "UTF-8";
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes pulseup {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

}

@keyframes pulseup {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  100% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

}

.pulseup {
  -webkit-animation-name: pulseup;
          animation-name: pulseup;
}

@-webkit-keyframes pulsedown {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  0% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

}

@keyframes pulsedown {
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  0% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }

}

.pulsedown {
  -webkit-animation-name: pulsedown;
          animation-name: pulsedown;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
          animation-name: shake;
}
